<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- cdn bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!-- custome css -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <!-- icon bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
   <nav class="navbar navbar-expand-lg bg-warning">
        <div class="container-fluid">
            <div class="navbar-brand">logo company</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            
            </div>
        </div>
   </nav>

    <section class="content">
        <!-- main content for choosing item -->
        <div class="main-content bg-info">
            <img src="./assets/img/bg.png" class="bg-ml" alt="">
            <div class="container">
                <div class="row">
                    <h4 class="text-capitalize my-4">diamond mobile legend bang:bang</h4>
                    <div class="col-lg-3 mb-3">
                        <div class="card">
                            <div class="card-body d-flex gap-3 justify-content-center">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUjISl09yIf4TdA6KXh0RFFSqkwkWUh6UxeA&usqp=CAU" style="width: 50px; height: 50px;" alt="">
                                <div class="item">
                                    <div>54 Diamond</div>
                                    <div>Rp. 48.000</div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <div class="card">
                            <div class="card-body d-flex gap-3 justify-content-center">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUjISl09yIf4TdA6KXh0RFFSqkwkWUh6UxeA&usqp=CAU" style="width: 50px; height: 50px;" alt="">
                                <div class="item">
                                    <div>54 Diamond</div>
                                    <div>Rp. 48.000</div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <div class="card">
                            <div class="card-body d-flex gap-3 justify-content-center">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUjISl09yIf4TdA6KXh0RFFSqkwkWUh6UxeA&usqp=CAU" style="width: 50px; height: 50px;" alt="">
                                <div class="item">
                                    <div>54 Diamond</div>
                                    <div>Rp. 48.000</div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <div class="card">
                            <div class="card-body d-flex gap-3 justify-content-center">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUjISl09yIf4TdA6KXh0RFFSqkwkWUh6UxeA&usqp=CAU" style="width: 50px; height: 50px;" alt="">
                                <div class="item">
                                    <div>154 Diamond</div>
                                    <div>Rp. 148.000</div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-3">
                        <div class="card">
                            <div class="card-body d-flex gap-3 justify-content-center">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUjISl09yIf4TdA6KXh0RFFSqkwkWUh6UxeA&usqp=CAU" style="width: 50px; height: 50px;" alt="">
                                <div class="item">
                                    <div>1154 Diamond</div>
                                    <div>Rp. 1.148.000</div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- side content for payment -->
        <div class="side-content bg-danger text-white py-5">
            <form class="px-4">
                <div class="d-flex justify-content-between">
                    <h5>Detail Akun</h5>
                    <div id="info-detail-account">
                        <i class="bi bi-info-circle-fill"></i>
                    </div>
                </div>
                <p class="information-detail-account text-sm-center position-absolute z-2 bg-black px-3 py-3 rounded-3 opacity-75 d-none">untuk memudahkan kami dalam pengiriman item game anda supaya terkirim secara tepat dan akurat.</p>
                <div class="my-2">
                    <label for="nickname" class="text-capitalize">nickname</label>
                    <input type="text" class="form-control" name="" id="nickname">
                </div>
                <div class="my-2">
                    <div class="d-flex gap-2">
                        <div class="id w-75">
                            <label for="id" class="text-capitalize text-white">ID</label>
                            <input type="text" class="form-control" name="" id="id">
                        </div>
                        <div class="server w-25">
                            <label for="server" class="text-capitalize text-white">server</label>
                            <input type="text" class="form-control" name="" id="server">
                        </div>                        
                    </div>
                </div>
                <div class="via-payment my-4">
                    <h5 class="text-capitalize mb-4">via pembayaran</h5>
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label for="bri-payment" class="text-capitalize d-flex justify-content-center">
                                <img src="./assets/img/bri-payment.png" class="icon-payment" alt="">
                            </label>
                            <input type="checkbox" name="" id="bri-payment" hidden>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="bri-payment" class="text-capitalize d-flex justify-content-center">
                                <img src="./assets/img/bri-payment.png" class="icon-payment" alt="">
                            </label>
                            <input type="checkbox" name="" id="bri-payment" hidden>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="bri-payment" class="text-capitalize d-flex justify-content-center">
                                <img src="./assets/img/bri-payment.png" class="icon-payment" alt="">
                            </label>
                            <input type="checkbox" name="" id="bri-payment" hidden>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-info text-light text-capitalize">pesan sekarang</button>
                </div>
            </form>
        </div>
        <div class="bg-warning">
            <div class="container py-3">
                Build with <img src="./assets/img/instargram.png" style="width: 20px; height: 20px;" alt=""> 
                <a href="" class="text-dark text-decoration-none">@arifinhabibi_</a> 
            </div>
        </div>
    </section>

    <script>
        const domInfoAccountDetail = document.getElementById('info-detail-account')
        const dominfoText = document.querySelector('.information-detail-account')
        domInfoAccountDetail.addEventListener('click', () => {
            dominfoText.classList.toggle('d-none')
        })
    </script>

    <!-- cdn bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>